.image{
    height: auto;
    width: 300px;
}
.beer{
    background-color: aquamarine;
    color: darkgreen;
}
.onion{
    background-color: brown;
    color:darkblue;
}
.mead{
    background-color: coral;
    color:darkmagenta;
}